<div class="navbar">
    <div class="navbar-grid">
        <div class="navbar-links">
            <a [routerLink]="'/home'">Home</a> 
            <a [routerLink]="'/question'">Ask a question</a>               
            <a [routerLink]="'/displayquestion'">View Answers</a>
            <a [routerLink]="'/register'">Register</a>
        </div>
        <div class="navbar-search">
            <input type="text" placeholder="Search">
            <button type="submit">🔍</button>
        </div>
    </div>
  </div>