<div class="welcome-message">
    <h1>Welcome to Buzz Brains Blog</h1>
    <a class="button-welcome">Looking for answers??</a>
  </div>
  <div class="recently-askedq">
    <h2>Recently Asked Questions</h2>
    <div class="recently-askedq-grid">
      <div class="recently-askedq-card">
        <h3>What is the capital of France?</h3>
        <p>Paris</p>
      </div>
      <div class="recently-askedq-card">
        <h3>What is the capital of Germany?</h3>
        <p>Berlin</p>
      </div>
      <div class="recently-askedq-card">
        <h3>What is the capital of Italy?</h3>
        <p>Rome</p>
      </div>
      <div class="recently-askedq-card">
        <h3>What is the capital of Spain?</h3>
        <p>Madrid</p>
      </div>
    </div>
</div> 