<app-header></app-header>
<div class="dq-answers">
    <h1>Dear Curious Cat, here are questions that have been answered previously.</h1>
</div>
<div id="question-container" class="grid-container">
    <div *ngFor="let item of model" class="card">
        <div class="card-header">
            <div class="model-title">Title: {{ item.title }}</div>
            <div class="model-question">Question: {{ item.question }}</div>
        </div>
        <div class="card-footer">
            <div class="model-username">User: {{ item.username }}</div>
            <div class="model-createdAt">{{ item.createdAt | date:'short' }}</div>
        </div>
    </div>
</div>
