<app-header></app-header>
<div class="welcome-message">
    <h1>Welcome to Buzz Brains Blog</h1>
    <a class="button-welcome" [routerLink]="'/displayquestion'">Looking for answers??</a>
  </div>
  <div id="question-container" class="recently-askedq">
    <h2>Recently Asked Questions</h2>
    <div class="recently-askedq-grid">
      <div *ngFor="let item of model" class="recently-askedq-card">
        <div class="card-header">
          <h3>{{ item.title }}</h3>
        </div>
      </div>
    </div>
  </div>
  